<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/#/">LunchIt</a>

            <div class="nav-collapse collapse pull-right">
                <ul class="nav">
                    <li><a href="#">Test</a></li>
                </ul>
            </div><!--/.nav-collapse -->

            <!--<p class="hello-block navbar-text pull-right" ng-show="isAuthenticated()">Hello, <a href="/#/profile">{{ user.email }}</a></p>-->
        </div>
    </div>
</div>